{% block head %}
<title>TODO App</title>
{% endblock %}

{% block body %}

<div classs="content">

    <h1>TODO List</h1>

    <table id="table_">
        <tr>
            <th> Task</th>
            <th> Date Created</th>
            <th> Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href='/delete/{{ task.sid }}'>Delete</a>
                    <br>
                    <a href='/update/{{ task.sid }}'>Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <form action="/" method='POST' id="form_">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>


{% endblock %}